/* CSS page for the Sassy Assassins */

/* General styling for the body of each page to ensure uniformity*/

.wrapper {
  font-family: 'Boogaloo';
  background-color: #ea3ab8;
}

/* Image styling */

img {
  border: 3px solid black;
}


body {
margin: 0;

}
/*HEADER*/
.mainHead  {
	font-family: 'Bangers';
	text-align: center;
	background-image: linear-gradient(#FFBC42, #005C69);
	height: 400px;
/*	margin-bottom: 100px;*/
}
.mainHead h1{
	font-size: 10em;
	margin: 0 0 85px 0;
	padding-top: 5%;
  color: whitesmoke;
  letter-spacing: 5px;
  text-shadow: 5px 5px 10px #000;
}

/*NAV BAR*/
.navBar {
	display: block;
	margin: auto;
/*	background-color: #005C69;*/
}
.navBar ul{
	display: inline-block;
	padding: 1%;
	margin: 1% 10%;
	background-color: #FFBC42;
	width: 115px;

}

.navBar li {
	list-style: none;
	display: inline,

}

a {
	color: #8F2D56;
	text-decoration: none;
}
a:visited {
	color:#8F2D56;
}

ul:hover {
	font-size: 102%;
}

.assassinsTitle {
  text-align: center;
  margin-top: 5%;
}

/*************************
  Homepage Product
**************************/
#jsInput {
  width: 80%;
  margin: auto;
}

#jsInput img {
  display: inline-block;
  float: left;
  width: 30%;
  border-radius: 50%;
}

.proContent {
  display: inline-block;
  float: right;
  width: 60%;
}

.wrapper {
  overflow: auto;
}

.wholeP {
  overflow: auto;
  background-color: #FFD27F;
  border: 3px solid black;
  border-radius: 2em;
  margin: 5%;
  padding: 3%;
}

/*************************
  About Page
**************************/
.aboutHeader {
  margin-top: 5%;
}

.mainBody {
  width: 80%;
  margin: auto;
}

.aboutTop {
  display: block;
  text-align: center;
  margin-top: 0;
}

.img50cal {
  display: block;
  border-radius: 3em;
  margin: auto;
}

.pMissionDiv,
.pHistoryDiv {
  background-color: #FFD27F;
  border: 3px solid black;
  border-radius: 2em;
  margin: 5%;
  padding: 3%;
}

/*************************
  Founders Page
**************************/

.foundBody {
  width: 80%;
  margin: auto;
}

.foundHeader h1 {
  display: block;
  text-align: center;
  margin-top: 5%;
  font-size: 3em;
  letter-spacing: .1em;
}

.founder {
  display: block;
  overflow: auto;
  background-color: #FFD27F;
  border: 3px solid black;
  border-radius: 2em;
  margin: 5%;
  padding: 3%;
}

.foundImgDiv {
  display: block;
  float: left;
  width: 15%;
  padding: 2%;
}

.picSize {
  border-radius: 50%;
}

.foundDescDiv {
  display: inline-block;
  float: right;
  width: 60%;
  padding: 2%;
  margin-top: 15%;
}

.foundDesc {
  margin: auto 0;
  font-size: 1.75em;
}

.foundName {
  font-size: 2.2em;
  font-family: 'Bangers';
  letter-spacing: .1em;
}